.entry {
  display: block;
  position: relative;

  width: 800px;
  max-width: 100%;

  margin: 24px auto;
  padding: 12px;
  border-radius: 12px;

  background-color: var(--card);
}

@media (max-width: 800px) {
  .entry {
    padding: 6px;
    border-radius: 6px;
  }
}

.entry--not-found {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 24px;
}

.entry--not-found__title {
  display: block;
  position: relative;

  margin-top: 0;
}

.entry--not-found__return,
.entry--not-found__return:visited {
  display: block;
  position: relative;

  font-size: 24px;
  line-height: 32px;
  font-weight: 500;

  color: var(--primary);
}

.entry--not-found__return:hover,
.entry--not-found__return:active {
  color: var(--text);
}

.entry__upper-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;

  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .entry__upper-info {
    margin-bottom: 6px;
  }
}

.entry__about {
  display: block;
  position: relative;

  width: 36px;
  height: 36px;

  padding: 8px;

  border-radius: 18px;
}

.entry__about .material-icons {
  font-size: 20px;
  color: var(--primary);
}

.entry-comments {
  display: block;
  position: relative;

  width: 800px;
  max-width: 100%;

  margin: 24px auto;
  padding: 0;
  border-radius: 12px;

  background-color: var(--card);
}

@media (max-width: 800px) {
  .entry-comments {
    border-radius: 6px;
  }
}

.entry-comments__upper-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;

  width: 100%;

  top: 0;
  padding: 12px;

  border-radius: 12px 12px 0 0;
  background-color: var(--card);
  z-index: 2;

  border-bottom: 1px solid #ddd;
}

.is-dark .entry-comments__upper-info {
  border-bottom-color: #595959;
}

@media (max-width: 800px) {
  .entry-comments__upper-info {
    padding: 6px 12px;
    border-radius: 6px 6px 0 0;
  }
}
