.search {
  display: block;
  position: relative;

  width: 800px;
  max-width: 100%;

  margin: 0 auto;
}

.search__card {
  display: block;
  position: relative;

  width: 100%;
  margin: 24px auto;
  padding: 8px;

  color: var(--text);
  font-size: 16px;

  border-radius: 16px;
  background-color: var(--card);

  box-shadow: 0 0 2px 0 var(--button-shadow);
}

@media (max-width: 800px) {
  .search__card {
    margin: 16px auto;
    padding: 6px 6px 12px;
  }
}

.search__input-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;

  padding: 0 8px;
  margin: 0;
}

.search__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  width: fit-content;
  height: 48px;

  margin-left: 8px;
  padding: 10px 24px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;

  border-radius: 24px;

  transition: background-color 150ms ease-in-out 0s, color 150ms ease-in-out 0s;

  color: var(--text);
  background-color: transparent;
}

.search__button--inactive {
  color: #888;
  background-color: #ddd;
}

.is-dark .search__button--inactive {
  background-color: #242424;
}

.search__button--active {
  color: var(--card);
  background-color: var(--primary);
}

.search__button .material-icons {
  margin-left: 8px;
  font-size: 20px;
}

@media (max-width: 500px) {
  .search__button {
    width: 48px;
    padding: 12px;
  }

  .search__button__text {
    display: none;
  }

  .search__button .material-icons {
    margin-left: 0;
    font-size: 24px;
  }
}

.search__switch-line {
  display: block;
  position: relative;

  overflow-y: hidden;
  overflow-x: auto;

  width: 100%;
  height: 32px;

  margin: 8px 0 0;
  border-radius: 16px;
}

.search__switch-line__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  width: fit-content;
  margin: 0 auto;
}

.search__transparent-chip {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  width: fit-content;
  height: 32px;

  padding: 0 8px;
  margin-right: 8px;
  flex-shrink: 0;

  color: var(--primary);

  border-radius: 16px;
}

.search__transparent-chip .material-icons {
  font-size: 20px;
}

.search__transparent-chip__label {
  display: block;
  position: relative;
  flex-shrink: 1;

  padding: 6px;

  font-size: 16px;
  line-height: 20px;
}

.search__transparent-chip:last-child {
  margin-right: 0;
}

.search__all-filters {
  display: none;
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 2;
}

.search__all-filters-obfuscator {
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(50, 50, 50, 0.3);
}

.is-dark .search__all-filters-obfuscator {
  background-color: rgba(0, 0, 0, 0.5);
}

.search__all-filters-body {
  display: block;
  position: absolute;

  width: calc(100% - 12px * 2);
  max-width: 776px;
  margin: 0 auto;
  padding: 16px 64px;

  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  color: var(--text);
  font-size: 16px;

  border-radius: 16px;
  background-color: var(--card);

  box-shadow: 0 0 2px 0 var(--button-shadow);
}

@media (max-width: 800px) {
  .search__all-filters-body {
    width: calc(100% - 6px * 2);
    padding: 12px;
    top: 16px;
  }
}

.search__all-filters-body h4 {
  margin: 0 0 4px;
  text-align: center;
}

.search__all-filters__chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;

  width: fit-content;
  margin: 0 auto 12px;
}

@media (max-width: 500px) {
  .search__all-filters__chips {
    justify-content: flex-start;
  }
}

.search__all-filters__chips .chip {
  margin-top: 8px;
}

.search__all-filters__input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;

  padding: 0 8px;
  margin: 0;
}

.search__all-filters-body .search__transparent-chip {
  margin: 16px auto 0;
}
