.search {
  display: block;
  position: relative;

  width: 800px;
  max-width: 100%;

  margin: 0 auto;
}

.search__entry-card {
  display: block;
  position: relative;

  width: 100%;
  margin: 24px auto;
  padding: 8px;

  color: var(--text);
  font-size: 16px;

  border-radius: 16px;
  overflow: hidden;
  background-color: var(--card);

  box-shadow: 0 0 2px 0 var(--button-shadow);
}

@media (max-width: 800px) {
  .search__entry-card {
    margin: 16px auto;
    padding: 6px 6px 12px;
  }
}

.search__input-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;

  padding: 0 8px;
  margin: 0;
}

.search__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  width: fit-content;
  height: 48px;

  margin-left: 8px;
  padding: 10px 24px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;

  border-radius: 24px;

  transition: background-color 150ms ease-in-out 0s, color 150ms ease-in-out 0s;

  color: var(--text);
  background-color: transparent;
}

.search__button--inactive {
  color: #888;
  background-color: #ddd;
}

.is-dark .search__button--inactive {
  background-color: #242424;
}

.search__button--active {
  color: var(--card);
  background-color: var(--primary);
}

.search__button .material-icons {
  margin-left: 8px;
  font-size: 20px;
}

@media (max-width: 500px) {
  .search__button {
    width: 48px;
    padding: 12px;
  }

  .search__button__text {
    display: none;
  }

  .search__button .material-icons {
    margin-left: 0;
    font-size: 24px;
  }
}

.search__switch-line {
  display: block;
  position: relative;

  overflow-y: hidden;
  overflow-x: auto;

  width: 100%;
  height: 32px;

  margin: 8px 0 0;
  border-radius: 16px;
}

.search__switch-line__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  margin: 0 auto;
}

.search__about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  width: fit-content;
  height: 32px;

  padding: 0 8px;
  margin-right: 8px;
  flex-shrink: 0;

  color: var(--primary);

  border-radius: 16px;
}

.search__about .material-icons {
  font-size: 20px;
}

.search__about__label {
  display: block;
  position: relative;
  flex-shrink: 1;

  padding: 6px;

  font-size: 16px;
  line-height: 20px;
}
