.comments {
  display: block;
  position: relative;

  width: 100%;

  padding: 12px 24px;
}

@media (max-width: 800px) {
  .comments {
    padding: 12px 12px;
  }
}

.comments__empty {
  display: block;
  position: relative;

  margin: 0;
  padding: 12px 8px;
}

.comments__count {
  display: block;
  position: relative;

  margin: 8px 0 16px;
}
