.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;

  width: 100%;
}

:root {
  --comment-animation-color: var(--primary-faded);

  --comment-padding-left: 4px;

  --comment-branch-color: #ddd;
  --comment-branch-thickness: 1px;
  --comment-branch-width: 16px;
  --comment-branch-rounded: 8px;
}

@media (max-width: 800px) {
  :root {
    --comment-padding-left: 2px;

    --comment-branch-width: 8px;
  }
}

:root .is-dark {
  --comment-animation-color: #555;
  --comment-branch-color: #555;
}

@keyframes container-animation {
  0% {
    background-color: transparent;
  }
  15% {
    background-color: var(--comment-animation-color);
  }
  50% {
    background-color: var(--comment-animation-color);
  }
  85% {
    background-color: var(--comment-animation-color);
  }
  100% {
    background-color: transparent;
  }
}

.comment-container--animating {
  animation-name: container-animation;
  animation-duration: 1400ms;
  animation-timing-function: cubic-bezier(0.79, 0.51, 0.42, 1);
  animation-delay: 0;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.comment-branches {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
}

.comment-branch {
  display: block;
  position: relative;

  width: calc(var(--comment-branch-width) - var(--comment-padding-left));
  height: 100%;

  margin-left: var(--comment-padding-left);
  border-left: var(--comment-branch-thickness) solid var(--comment-branch-color);
  
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.comment-branch--tail {
  border-left: none;
}

.comment-branch--hidden:not(.comment-branch--tail) {
  visibility: hidden;
}

.comment-branch:not(.comment-branch--infinite-tail):last-child::before {
  display: block;
  content: '';

  width: calc(var(--comment-branch-width) - var(--comment-padding-left));
  height: calc(10px + 44px / 2);

  left: var(--comment-padding-left);
  top: 0;

  border-style: solid;
  border-color: var(--comment-branch-color);
  border-width: 0 0 var(--comment-branch-thickness) var(--comment-branch-thickness);
  border-bottom-left-radius: var(--comment-branch-rounded);
  margin-left: calc(-1 * var(--comment-branch-thickness));
}

.comment-branch.comment-branch--infinite-tail:last-child::before {
  display: block;
  content: '';

  width: calc(var(--comment-branch-width) - var(--comment-padding-left));
  height: calc(10px + 44px / 2 + 24px);

  left: var(--comment-padding-left);
  margin-top: -24px;

  border-style: solid;
  border-color: var(--comment-branch-color);
  border-width: var(--comment-branch-thickness) 0 var(--comment-branch-thickness) var(--comment-branch-thickness);
  border-bottom-left-radius: var(--comment-branch-rounded);
  border-top-left-radius: var(--comment-branch-rounded);
  margin-left: calc(-1 * var(--comment-branch-thickness));
}

.comment-branch.comment-branch--tail:last-child::before {
  margin-left: 0;
}

.comment-branch--is-highlighted {
  --comment-branch-color: var(--primary);
  --comment-branch-thickness: 2px;
}

.comment-branch:nth-child(6 + 1n) {
  display: none;
}

.comment {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px 16px 10px var(--comment-padding-left);
}

.comment-branch:nth-child(1) ~ .comment {
  width: calc(100% - var(--comment-branch-width) * 1);
}

.comment-branch:nth-child(2) ~ .comment {
  width: calc(100% - var(--comment-branch-width) * 2);
}

.comment-branch:nth-child(3) ~ .comment {
  width: calc(100% - var(--comment-branch-width) * 3);
}

.comment-branch:nth-child(4) ~ .comment {
  width: calc(100% - var(--comment-branch-width) * 4);
}

.comment-branch:nth-child(5) ~ .comment {
  width: calc(100% - var(--comment-branch-width) * 5);
}

.comment__text {
  display: block;
  position: relative;

  width: 100%;
  margin-bottom: 12px;

  word-break: break-word;
  word-wrap: break-word;
}

.comment__text:last-child {
  margin-bottom: 0;
}

.comment p {
  margin-top: 0;
  margin-bottom: 8px;
}

.comment p:last-child {
  margin-bottom: 0;
}

.comment a,
.comment a:visited {
  color: var(--primary);
}

.comment a:hover {
  color: var(--text);
}

.comment__donate {
  display: block;
  position: relative;

  width: fit-content;
  height: 28px;
  margin-bottom: 8px;
  padding: 0 12px;

  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  white-space: nowrap;

  border-radius: 5px;

  background-color: #447;
  color: #fff;
  box-shadow: 0 1px 2px rgba(68, 68, 119, 0.28), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
}
