.date-picker-container {
  display: none;
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 40;
}

.date-picker-obfuscator {
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(50, 50, 50, 0.3);
}

.is-dark .date-picker-obfuscator {
  background-color: rgba(0, 0, 0, 0.5);
}

.date-picker-body {
  display: block;
  position: relative;

  width: 360px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;

  background-color: var(--card);

  border-radius: 8px;
}

@media (max-width: 400px) {
  .date-picker-body {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@media (max-height: 500px) {
  .date-picker-body {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.date-picker__head {
  display: block;
  position: relative;

  width: 100%;
  height: 128px;

  padding: 20px 24px 12px;

  background-color: var(--primary);
  color: #fff;
}

.is-dark .date-picker__head {
  background-color: var(--primary-faded);
}

.date-picker__small-title {
  display: block;
  position: relative;

  width: 100%;

  font-size: 12px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;

  word-break: break-word;
  line-break: normal;
}

.date-picker__head-line {
  display: block;
  position: relative;

  width: 100%;
  height: 68px;

  margin-top: 16px;
}

.date-picker__big-title {
  display: block;
  position: absolute;

  padding-right: 36px;

  left: 0;
  bottom: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.date-picker__switch {
  display: block;
  position: absolute;

  width: 36px;
  height: 36px;

  bottom: 0;
  right: 0;

  padding: 6px;
  font-size: 24px;

  border-radius: 18px;
}

.date-picker__big-title__position--faded {
  color: #ddd;
}

.is-dark .date-picker__big-title__position--faded {
  color: #aaa;
}

.date-picker__inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  padding: 16px 24px;
}

.date-picker__inputs .field-area {
  width: calc(50% - 8px);
}

.date-picker__calendar {
  display: block;
  position: relative;

  padding: 12px;
}

.date-picker__calendar__select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  margin-bottom: 12px;
}

.date-picker__calendar__turn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.date-picker__select-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  width: fit-content;
  height: 32px;

  padding: 0 8px;
  margin-right: 8px;
  flex-shrink: 0;

  border-radius: 16px;
}

.date-picker__select-button__label {
  display: block;
  position: relative;
  flex-shrink: 1;

  padding: 6px;

  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.date-picker__calendar__year-pick {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  padding: 16px;

  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--card);
  z-index: 10;
}

.date-picker__calendar__year-pick__single {
  display: block;
  position: relative;

  width: fit-content;
  height: 24px;

  padding: 2px 8px;
  margin: auto;

  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;

  border-radius: 12px;
}

.date-picker__calendar__year-pick__single--selected {
  background-color: var(--primary);
  color: var(--card);
}

.date-picker__calendar__month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 15px;
  row-gap: 5px;

  width: 335px;
  margin: 0 auto;
}

.date-picker__calendar__day-of-week {
  display: block;
  position: relative;

  width: 35px;
  height: 20px;

  padding: 2px 0;

  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.date-picker__calendar__date {
  display: block;
  position: relative;

  width: 35px;
  height: 35px;
}

:root {
  --calendar-range-color: #f3d193;
}

:root .is-dark {
  --calendar-range-color: #8d6b2d;
}

.date-picker__calendar__date__range {
  display: block;
  position: absolute;

  width: 35px;
  height: 35px;

  top: 0;
  left: 0;

  background-color: var(--calendar-range-color);
  border-radius: 35px;
}

.date-picker__calendar__date__range--pad-left {
  display: block;
  position: absolute;

  width: calc(35px / 2 + 15px);
  height: 35px;

  top: 0;
  left: -15px;

  background-color: var(--calendar-range-color);
}

.date-picker__calendar__date__range--pad-right {
  display: block;
  position: absolute;

  width: calc(35px / 2 + 15px);
  height: 35px;

  top: 0;
  right: -15px;

  background-color: var(--calendar-range-color);
}

.date-picker__calendar__date__text {
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  z-index: 2;
}

.date-picker__calendar__date__text--bordering {
  background-color: var(--primary);
  color: var(--card);
  border-radius: 35px;
}

.date-picker__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  width: 100%;
  padding: 8px 12px;
}

@media (max-width: 400px) {
  .date-picker__actions {
    position: absolute;
    bottom: 0;
  }
}

@media (max-height: 500px) {
  .date-picker__actions {
    position: absolute;
    bottom: 0;
  }
}

.date-picker__action {
  display: block;
  position: relative;

  width: fit-content;
  height: 40px;

  padding: 8px 12px;
  margin-right: 6px;

  border-radius: 6px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.date-picker__action:last-of-type {
  margin-right: 0;
}
