.post-version {
  display: block;
  position: relative;

  width: 100%;
  padding: 0 16px;
}

@media (max-width: 800px) {
  .post-version {
    padding: 0 6px;
  }
}

.post-version__title {
  display: block;
  position: relative;

  margin-top: 0;
  text-align: left;
}

.post-version__title__is-editorial {
  display: inline-block;
  position: relative;

  margin-left: 6px;
  vertical-align: -8px;

  font-size: 36px;
  color: var(--primary);
}

.post-version__stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.post-version__stats__pos {
  display: block;
  position: relative;

  margin-right: 8px;
  padding: 4px 8px;

  border-radius: 4px;
  background-color: var(--primary-faded);

  font-size: 14px;
  line-height: 20px;
}

.post-version__stats__pos:last-of-type {
  margin-right: 0;
}

.post-version__stats__pos--saved {
  color: #fff;
  background-color: rgba(230, 36, 52, 0.8);
}

.is-dark .post-version__stats__pos--saved {
  background-color: rgba(232, 71, 84, 0.5);
}

.karma--positive {
  color: #07a23b;
  background-color: #eefbf3;
}

.karma--negative {
  color: #cd192e;
  background-color: #fff1f1;
}

.is-dark .karma--positive {
  color: #10ec0d;
  background: rgba(7, 162, 59, 0.08);
}

.is-dark .karma--negative {
  color: #ff0000;
  background: rgba(205, 25, 46, 0.08);
}
