.post-info-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  margin-bottom: 10px;
}

.post-info-line__elem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  margin-right: 16px;
  margin-top: 6px;

  text-decoration: none;
}

.post-info-line__elem__img {
  display: inline-block;
  position: relative;

  width: 22px;
  height: 22px;

  margin-right: 8px;

  border-radius: 6px;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-info-line__elem__text {
  height: 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  color: var(--text);
}

.post-info-line__elem:hover .post-info-line__elem__text {
  color: var(--primary);
}

.post-info-line__elem__text--date {
  color: #595959;
}

.is-dark .post-info-line__elem__text--date {
  color: #888;
}

.post-info-line__elem__text--date.material-icons {
  margin-left: 4px;
}

.post-info-line__elem:last-child {
  margin-right: 0;
}

.post-info-line__elem__verified {
  width: 16px;
  height: 16px;

  margin-left: 4px;
}

.path-with-dynamic-color {
  fill: var(--card);
}

.post-info-line__about {
  display: block;
  position: relative;

  width: 24px;
  height: 24px;

  padding: 4px;

  border-radius: 12px;
}

.post-info-line__about .material-icons {
  font-size: 16px;
  color: var(--primary);
}
