.post-version {
  display: block;
  position: relative;

  width: 100%;
  padding: 0 16px;
}

@media (max-width: 800px) {
  .post-version {
    padding: 0 6px;
  }
}

.post-version__title {
  display: block;
  position: relative;

  margin-top: 0;
  text-align: left;
}

.post-version__title__editorial {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.post-version__title__editorial-icon {
  display: inline-block;
  position: relative;

  margin-left: 6px;
  top: 2px;

  font-size: 36px;
  color: var(--primary);
}

.post-version__stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.post-version__stats__pos {
  display: block;
  position: relative;

  margin-right: 8px;
  padding: 4px 8px;

  border-radius: 4px;

  font-size: 14px;
  line-height: 20px;
}

.post-version__stats__pos:not(.karma--positive):not(.karma--negative):not(.post-version__stats__pos--saved) {
  color: #595959;
  background-color: rgba(201, 201, 201, 0.15);
}

.is-dark .post-version__stats__pos:not(.karma--positive):not(.karma--negative):not(.post-version__stats__pos--saved) {
  color: #aaa;
  background-color: rgba(20, 20, 20, 0.15);
}

.post-version__stats__pos:last-of-type {
  margin-right: 0;
}

.post-version__stats__pos--saved {
  color: #fff;
  background-color: rgba(230, 36, 52, 0.8);
}

.is-dark .post-version__stats__pos--saved {
  background-color: rgba(232, 71, 84, 0.5);
}
