.post-version h3,
.post-version h4 {
  font-weight: 500;
  word-break: break-word;
  line-break: normal;
}

.post-version p,
.post-version ul {
  margin: 12px auto;
}

.post-version p,
.post-version ul,
.post-version li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35em;
  word-break: break-word;
  line-break: normal;
}

.post-version pre {
  overflow-x: auto;
}

.post-version a,
.post-version a:visited {
  color: var(--primary);
}

.post-version a:hover {
  color: var(--text);
}

.media-single {
  display: block;
  position: relative;
  width: 100%;
  margin: 16px auto;
  padding: 0;
}

.media-single__wrapper {
  display: block;
  position: relative;

  width: 100%;
  min-height: 80px;
}

.media-single__wrapper--visible {
  padding: 16px 0;
  background-color: #eee;
}

.is-dark .media-single__wrapper--visible {
  background-color: #242424;
}

.media-single__media {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  max-height: 400px;
}

@media (max-width: 800px) {
  .media-single__media {
    max-height: 60vh;
  }
}

.media-single__desc {
  display: block;
  position: relative;
  width: 100%;
  padding: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.35em;
  color: #595959;
  text-align: center;
}

.is-dark .media-single__desc {
  color: #777;
}

.media-gallery {
  display: block;
  position: relative;

  width: 100%;
}

.media-gallery__figure {
  display: block;
  position: absolute;

  overflow: hidden;

  left: 0;
  top: 0;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.media-gallery__figure__left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  color: #fff;
  background-color: rgba(42, 42, 42, 0.5);

  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.media-video-pseudo-play {
  display: block;
  position: absolute;

  width: 64px;
  height: 64px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 16px;

  color: #fff;
  background-color: rgba(42, 42, 42, 0.5);
  border-radius: 32px;
}

.entry *:hover > .media-video-pseudo-play {
  color: var(--primary);
}

.media-video-pseudo-play .material-icons {
  font-size: 32px;
}

.delimiter {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}

.incut {
  display: block;
  position: relative;

  width: 100%;
  padding: 16px;
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.35em;
  border-left: 2px solid var(--primary);
}

.incut__text {
  display: block;
  position: relative;

  margin-bottom: 12px;

  font-size: 16px;
  font-weight: 400;
}

.incut__text:last-of-type {
  margin-bottom: 0;
}

.incut__bigger {
  margin-bottom: 12px;

  font-size: 30px;
  line-height: 1.35em;
  font-weight: 700;
}

.incut__bigger:last-of-type {
  margin-bottom: 0;
}

.incut__medium {
  font-size: 20px;
  line-height: 1.35em;
  font-weight: 700;

  margin-bottom: 12px;
}

.incut__medium:last-of-type {
  margin-bottom: 0;
}

.incut__image {
  display: inline-block;
  position: relative;

  width: 100px;
  height: 100px;

  margin-right: 12px;

  border-radius: 50px;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.incut__flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.incut__flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.bc-decoration {
  background-color: var(--primary-faded);
}

.tag {
  display: inline-block;
  position: relative;
  background-color: var(--primary-faded);
  padding: 2px 6px;
  margin: 0 4px 4px 0;
  border-radius: 3px;
}

.rich-link {
  display: block;
  position: relative;
  width: fit-content;

  width: 100%;
  max-width: 600px;

  padding: 16px;
  margin: 16px auto;

  border-radius: 8px;
  border: 2px solid var(--primary);
  text-decoration: none;
}

.rich-link:hover,
.rich-link:focus {
  background-color: var(--primary-faded);
  color: var(--text);
  outline: none;
}

.rich-link__title {
  display: block;
  position: relative;

  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 2px;

  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rich-link__description {
  display: block;
  position: relative;

  max-height: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 7px;

  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rich-link__fake-url {
  display: block;
  position: relative;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;

  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #595959;
}

.is-dark .rich-link__fake-url {
  color: #777;
}

.rich-link:hover .rich-link__fake-url,
.rich-link:focus .rich-link__fake-url {
  color: var(--text);
}

.rich-link__fake-url .material-icons {
  display: inline-block;
  position: relative;

  width: 16px;
  height: 16px;
  margin-right: 2px;

  font-size: 16px;
  line-height: 16px;
  vertical-align: -3px;
}

.video {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 16px auto;
  padding: 0;
}

.video__thumbnail {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.video__frame {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: none;
}

.audio {
  display: block;
  position: relative;
  width: calc(100% - 32px);
  margin: 0 8px 8px;
  padding: 16px;
}

.audio__image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto 16px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.audio__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.audio__flex__title {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  padding: 16px;
}

.audio__flex__actual-audio {
  height: 56px;
}

.quiz {
  display: block;
  position: relative;

  margin: 0 auto 12px;
  padding: 6px 12px 12px;

  border-left: 2px solid var(--primary);
}

@media (max-width: 900px) {
  .quiz {
    padding: 6px;
  }
}

.quiz__title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.quiz__about {
  display: block;
  position: relative;

  width: 36px;
  height: 36px;

  margin-left: 8px;
  padding: 9px;

  border-radius: 16px;
}

.quiz__about .material-icons {
  font-size: 16px;
  color: var(--primary);
}

.quiz__options__answer {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35em;
  padding: 8px 8px 4px;
  border-bottom: 2px solid var(--primary-faded);
}

.social {
  display: block;
  position: relative;

  width: 100%;
  padding: 12px;
  margin-bottom: 12px;

  border-radius: 12px;
  border: 1px solid #ddd;
}

.is-dark .social {
  border-color: #595959;
}

.social__logo {
  display: block;
  position: absolute;

  width: 24px;
  height: 24px;

  top: 16px;
  right: 12px;

  color: var(--text);
  fill: currentColor;
}

.social__logo--tweet {
  color: #1d9bf0;
}

.is-dark .social__logo {
  color: var(--text);
}

.social__user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  width: 100%;

  margin-bottom: 12px;
  padding-right: 28px;

  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.social__avatar {
  display: block;
  position: relative;

  width: 22px;
  height: 22px;

  border-radius: 11px;

  margin-right: 8px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.social__fullname,
.social__username {
  display: block;
  position: relative;

  margin-right: 12px;
}

.social__fullname {
  font-weight: 500;
}

.social__date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  margin-right: 12px;

  color: #595959;
  text-decoration: none;
}

.is-dark .social__date {
  color: #777;
}

.social__date:hover {
  color: var(--primary);
}

.social__date .material-icons {
  margin-left: 4px;
  font-size: 16px;
}

.social__avatar:last-child,
.social__fullname:last-child,
.social__username:last-child,
.social__date:last-child {
  margin-right: 0;
}

.social__text,
.social__media {
  display: block;
  position: relative;

  width: 100%;
  margin-bottom: 12px;
}

.social__text:last-child,
.social__media:last-child {
  margin-bottom: 0;
}

.social__media .media-single,
.social__media .media-single {
  margin-bottom: 0;
}
