.post-version {
  display: block;
  position: relative;

  width: 100%;
  padding: 0 16px;
}

@media (max-width: 800px) {
  .post-version {
    padding: 0 6px;
  }
}

.post-version__title {
  display: block;
  position: relative;

  margin-top: 0;
  text-align: left;
}

.post-version__title__editorial {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.post-version__title__editorial-icon {
  display: inline-block;
  position: relative;

  margin-left: 6px;
  top: 2px;

  font-size: 36px;
  color: var(--primary);
}

.post-version__stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.post-version__stats__pos {
  display: block;
  position: relative;

  margin: 0 8px 4px 0;
  padding: 4px 8px;

  border-radius: 4px;

  font-size: 14px;
  line-height: 20px;
}

.post-version__stats__pos:last-of-type {
  margin-right: 0;
}

.post-version__stats__pos.karma--neutral,
.post-version__stats__pos.post-version__stats__pos--bookmark,
.post-version__stats__pos.post-version__stats__pos--coauhor {
  background-color: rgba(201, 201, 201, 0.15);
}

.is-dark .post-version__stats__pos.karma--neutral,
.is-dark .post-version__stats__pos.post-version__stats__pos--bookmark,
.is-dark .post-version__stats__pos.post-version__stats__pos--coauhor {
  background-color: rgba(42, 42, 42, 0.5);
}

.post-version__stats__pos.karma--neutral {
  color: #595959;
}

.is-dark .post-version__stats__pos.karma--neutral {
  color: #aaa;
}

.post-version__stats__pos.post-version__stats__pos--bookmark {
  color: #e84755;
}

/* .post-version__stats__pos.post-version__stats__pos--bookmark {
  background-color: rgba(230, 36, 52, 0.2);
}

.is-dark .post-version__stats__pos.post-version__stats__pos--bookmark {
  background-color: rgba(232, 71, 84, 0.2);
} */

.post-version__icon {
  display: inline-block;
  position: relative;

  width: 20px;
  height: 20px;
  margin-right: 4px;

  vertical-align: bottom;

  fill: currentColor;
}

.post-version__stats__entity {
  display: inline-block;
  position: relative;

  margin: -1px 6px;
  padding: 1px 6px 1px 2px;
  border-radius: 3px;

  height: 22px;
  background-color: var(--primary-faded);
}

.post-version__stats__entity:last-child {
  margin-right: 0;
}

.post-version__stats__entity__avatar {
  display: inline-block;
  position: relative;

  width: 20px;
  height: 20px;

  border-radius: 10px;
  margin-right: 4px;
  vertical-align: bottom;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-version__stats__entity__name {
  display: inline-block;
  position: relative;

  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  color: var(--text);
}

.post-version__stats__entity:hover .post-version__stats__entity__name {
  color: var(--primary);
}
